@charset "utf-8";
/* 초기화 */
html,body,ul,h1,h2,h3,p,img,ul,dl,dt,dd,section,article,span,hr{ margin:0; padding:0;}
li{ list-style: none;}
a{ text-decoration: none;}
.hidden{
  position:absolute;
  top:-9999px;
}
html{ font-family: 'NanumSquare';}
body{ min-width: 1200px; margin:0 auto;}
